@charset "utf-8";
/* CSS Document */
#magazine{
    width: 800 px;
    height:700 px;
}
#magazine .turn-page{
    background-color:#ccc;
}
#flipbook {
	width:800 px;
	height:700 px
}
#flipbook .page-wrapper{
   -webkit-perspective:800 px;
   -moz-perspective: 800 px;
   -ms-perspective: 800 px;
   perspective: 800 px;
}
#flipbook .page{
	width:800 px;
	height:700 px;
}
#flipbook{
  -webkit-transition:margin-left 0.2s ease-in-out;
  -moz-transition:margin-left 0.2s ease-in-out;
  -o-transition:margin-left 0.2s ease-in-out;
  -ms-transition:margin-left 0.2s ease-in-out;
  transition:margin-left 0.2s ease-in-out;
}